.editor_main{
  position: relative;
}
.editor_box{
  width: 500px;
  min-height: 200px;
  height: 400px;
  border: 1px solid #000;
}
.polyphone_select_box{
position: absolute;
}
customtag {
  background-color: paleturquoise;
}
polyphonemark{
  background-color: green;
}